@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.h1 {
  height: 100%;
}

.title {
  text-align: center;
  padding-top: 10%;
}

.title h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 55px;
}

.title p {
  text-align: center;
  font-size: 30px;
}

.start-button {
  margin-top: 50px !important;
  font-size: 50px !important;
  font-family: 'Roboto Mono', monospace !important;
}

.start-button {
  cursor: pointer;
}
