@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000 !important;
  margin: 25px;
  height: 80px;
  font-family: 'Ubuntu', sans-serif;
}

.city:hover {
  cursor: pointer;
  background-color: green !important;
  color: white;
}
