@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.country {
  background-color: rgba(240, 240, 240, 100) !important;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000 !important;
  margin: 25px;
  height: 120px;
  line-height: 1.2em;
  font-size: 1.2vw;
  font-family: 'Ubuntu', sans-serif;
}

.country:hover {
  cursor: pointer;
  background-color: green !important;
  color: white;
}

.flag {
  width: 65px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
