@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.score {
  padding-bottom: 30px;
  text-align: center;
  font-size: 2vw;
  font-family: 'Roboto Mono', monospace;
}

.capitalCity {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5vw;
}
