@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.score {
  text-align: center;
  font-family: "Roboto Mono", monospace !important;
  margin-top: 10px !important;
}

.capitalCity {
  text-align: center;
  font-family: "Roboto Mono", monospace !important;
  position: absolute;
  flex: 0 1 auto;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;
}

.buttonsContainer {
  flex: 0 1 auto;
  margin-left: auto;
}

.titleHeader {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .titleHeader {
    display: block;
  }

  .capitalCity {
    position: relative;
  }

  .buttonsContainer {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
